header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  @include transition(box-shadow .2s ease-in-out);

  @include mq('tablet', max) {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.01);
    background: #fff;
  }

  .sticky-bar {
    @include mq('tablet') {
      position: absolute;
      left: 0;
      // top: -10px;
      width: 100%;
      height: 68px;
      background: $white;
      z-index: -1;
      // transform: translateY(-100%);
      transition: all 0.5s cubic-bezier(0.5, 0, 0.5, 1);
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.01);
    }
  }

  >.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    transition: all 0.5s cubic-bezier(0.5, 0, 0.5, 1);

    @include mq('desktop') {
      padding: 20px 0;
    }
  }

  .logo {
    a {
      color: $purple;
      text-decoration: none;
      @include size(25px);

      @include mq('tablet') {
        @include size(30px);
      }
    }

    span {
      display: inline-block;

      p {
        line-height: 1;
        @include size(25px);
      }
    }
  }

  nav {
    position: absolute;
    left: -100%;
    width: 100%;
    top: 63px;
    padding: 0 20px 20px 20px;
    opacity: 0;
    @include transition(all .2s ease-in-out);
    background: $white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.01);


    @include mq('tablet') {
      transition: none;
      position: relative;
      top: unset;
      padding: 0;
      left: unset;
      opacity: 1;
      width: auto;
      box-shadow: none;
      background: none;
    }

    &.is-active {
      top: 65px;
      left: 0;
      opacity: 1;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        &.mobile {
          padding-left: 30px;
          position: relative;

          @include mq('tablet') {
            display: none;
          }

          &-envelope {
            a {
              position: relative;

              &::before {
                content: "";
                position: absolute;
                left: -30px;
                top: 50%;
                transform: translateY(-50%);
                width: 20px;
                height: 20px;
                background-image: url('img/svg/envelope.svg');
                background-size: 100%;
              }
            }
          }

          &-phone {
            a {
              position: relative;

              &::before {
                content: "";
                position: absolute;
                left: -30px;
                top: 50%;
                transform: translateY(-50%);
                width: 20px;
                height: 20px;
                background-image: url('img/svg/phone.svg');
                background-size: 100%;
              }
            }
          }
        }

        &.menu-item-has-children {
          position: relative;

          @include mq('tablet') {
            &:hover {
              ul {
                opacity: 1;
                visibility: visible;
                left: 20px;
              }
            }
          }
          ul {
            margin-left: 20px;

            @include mq('tablet') {
              margin-left: 0;
              position: absolute;
              border-radius: 10px;
              top: 100%;
              left: 10px;
              background: $white;
              box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 4px 4px -1px rgba(0, 0, 0, 0.01);
              opacity: 0;
              visibility: hidden;
              transition: all 0.3s cubic-bezier(0.5, 0, 0.5, 1);
            }

            li {
              a {
                position: relative;
                display: block;

                @include mq('tablet') {
                  white-space: nowrap;
                }
                
                &::before {
                  content: "";
                  position: absolute;
                  left: -15px;
                  top: 50%;
                  transform: translateY(-50%);
                  width: 7px;
                  height: 1px;
                  background: $purple;

                  @include mq('tablet') {
                    display: none;
                  }
                }
              }
            }
          }
        }

        @include mq('tablet') {
          display: inline-block;

          &.current-menu-item {
            a {
              position: relative;

              &::before {
                content: "";
                position: absolute;
                top: 6px;
                right: 6px;
                width: 7px;
                height: 7px;
                background: rgba($purple, 0.7);
                border-radius: 50%;
              }
            }
          }
        }

        a {
          color: $purple;
          display: block;
          text-decoration: none;
          padding: 10px 0;
          @include size(16px);
          position: relative;

          @include mq('tablet') {
            padding: 10px 20px;
            @include size(14px);

            &:hover {
              &::before {
                content: "";
                position: absolute;
                top: 6px;
                right: 6px;
                width: 7px;
                height: 7px;
                background: rgba($purple, 0.7);
                border-radius: 50%;
                transition: all 0.5s cubic-bezier(0.5, 0, 0.5, 1);
              }
            }
          }
        }


      }
    }
  }

  .hamburger {
    @include mq('tablet') {
      display: none;
    }
  }
}